{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/style.css' %}" >
    <link rel="stylesheet" href="{% static 'website/container.css' %}">
    <script src="{% static 'website/main.js' %}" defer></script>
    <title> {{ xxx }} </title>
</head>
<body>
    <main class='main'>
        <nav>
            <h1><a href="#">Home</a></h1>
            <h1><a href="#">create</a></h1>    
        </nav>
      
        <div class="container">
            <div class="item">
                <div class="inner">
                    {% block content %} {% endblock %}
                </div>
                

            </div>
            
        </div>
    </main>
</body>
</html>
