{% extends 'website/core.html' %}

{% block content %}
    <div class="taskeditor ">
        <div class="editheader center">
            <h1>Tarefa:</h1> 
            <p>{{ id }}</p>
            <br>
            <h1>Status:</h1> 
            <p>{% if id.done %} Feito {% else %} Pendente {% endif %}</p>
            <br>
            <h1>Descrição:</h1> 
            <div class="descriptionfield">
                <p>{{ id.description }}</p>
            </div>
         
           
            <div style="display:flex">
                <form action="{% url 'editpage_id' int=id.id %}" method="post">
                    {% csrf_token %}
                    <button type='submit' class='editbtn' name='mudar' value='{{id.id}}'> 
                        {% if not id.done %} Feito {% else %} pendente {% endif %}    
                    </button>
                    <button type='submit' class='editbtn delete' name='delete' value='{{id.id}}' > Excluir </button>
                    
                </form>
                
            </div>
          
        </div>

        </div>
       
    </div>
   
{% endblock %}