{% extends 'website/core.html' %}

{% block content %}

    {% for i in db %}
        <div class="taskblock {%if i.done %} done {% endif %}">
            <h2> {{ i.task }}  </h2>
             <div class="inputblock ">
                <h2 type="checkbox" id="{{i.id}}">
                    {% if i.done %}
                        Feito!
                    {% else %}
                        Pendente
                    {% endif %}
                </h2> 
            </div>
        </div>
    {% endfor %}
   
  
{% endblock %} 