/* inner is body of home template */
@import "style.css";

.inner {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    

}

.taskblock {

    margin: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid var(--border-color);
}

.taskblock h2 {
    margin: 0.3rem 2rem;
    color: rgb(255, 255, 255);
    font-family: var(--font1);
    
    
}

.taskblock:hover {
    background-color: rgb(175, 222, 228);
    transform: scale(1.01);
    transition: 0.3s;
}

.done{
    background-color: rgb(84, 221, 137);
}